<section id="about" class="container-fluid">
  <div class="row">
    <div class="col-md-6 wow fadeInLeft">
      <h1 class="text-center">¿Quiénes somos?</h1>
      <br />
      <p>
        Somos un laboratorio tercerista de Control de Calidad que ofrece servicios a varias industrias, principalmente
        Farmacéuticas, Veterinarias y Odontológicas. Un laboratorio con una experiencia de más de 35 años en el rubro.
      </p>
      <p>Estos son algunos ensayos físico-químicos que ofrecemos</p>
      <ul>
        <li>Espectros infrarrojos</li>
        <li>Espectros UV - visible</li>
        <li>Valoraciones potenciométricas</li>
        <li>Humedad</li>
        <li>Validación de limpieza</li>
        <li>Electroforesis capilar</li>
        <li>Ensayos Físicos-Químicos</li>
        <li>Otros</li>
      </ul>
    </div>
    <div class="col-md-6">
      <img class="img-fluid wow bounceInUp" src="/assets/img/nosotros.webp" alt="Nosotros" />
    </div>
  </div>
</section>