<section id="info" class="container-fluid parallax">
  <div class="row info-para">
    <div class="col-md-6">
      <div class="information text-center wow fadeInRight">
        <p><i class="fa fa-users info-icon" aria-hidden="true"></i></p>
        <p>30+</p>
        <p>Clientes</p>
      </div>
    </div>
    <div class="col-md-6">
      <div class="information text-center wow fadeInLeft">
        <p><i class="fa fa-university info-icon" aria-hidden="true"></i></p>
        <p>{{yearsLive}}</p>
        <p>Años de Experiencia</p>
      </div>
    </div>
  </div>
</section>