.parallax {
  background-image: url("/assets/img/info.webp");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.information{
  font-weight: bold;
  font-size: 150px;
  background: rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(6px);
  margin-left: 90px;
  margin-right: 90px;
  padding: 30px;
  color: var(--site-color);
}

.info-icon{
  font-size: 100px;
}

.info-para{
  padding-top: 20px;
  padding-bottom: 20px;
}
