<section id="clients" class="container-fluid">
  <div class="row">
    <h1 class="text-center wow fadeInRight">Algunos de nuestros clientes más importantes</h1>
    <div class="height-fix"></div>

    <div id="carouselClients" class="carousel slide wow bounceInDown" data-bs-ride="carousel">

      <div class="carousel-inner">
        <ng-container *ngFor="let list of clientsList">

          <div *ngIf="list.first" class="carousel-item active" data-bs-interval="2000">
            <div class="img-card text-center" *ngFor="let client of list.list">
              <img *ngIf="client.logo" src={{client.logo}} alt={{client.name}} class="img-fluid img-client" />
            </div>
          </div>

          <div *ngIf="!list.first" class="carousel-item" data-bs-interval="2000">
            <div class="img-card text-center" *ngFor="let client of list.list">
              <img *ngIf="client.logo" src={{client.logo}} alt={{client.name}} class="img-fluid img-client" />
            </div>
          </div>

        </ng-container>
      </div>

    </div>

  </div>
</section>